
<footer class="ftco-footer ftco-section img" style="background-image: url(../../../static/img/home/images/bg_2.1.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row mb-5">
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Hotel Telaga Mas</h2>
                    <p>Nikmati keindahan alam dan kenyamanan penginapan di Hotel Telaga Mas, Magetan, dekat Telaga Sarangan.</p>
                    <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                        <li class="ftco-animate"><a href="https://www.instagram.com/hoteltelagamas/" target="_blank"><span class="icon-instagram"></span></a></li>
                        <li class="ftco-animate"><a href="https://wa.link/c5iyyy" target="_blank"><span class="icon-whatsapp"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Kontak Kami</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><a href="https://maps.app.goo.gl/rY2S2PbW8WKeTVJ5A" target="_blank"><span class="icon icon-map-marker"></span><span class="text">Jl. Telaga Sarangan No.203, Magetan, Indonesia</span></a></li>
                            <li><a href="#"><span class="icon icon-phone"></span><span class="text">+62 821-2232-8078</span></a></li>
                            <li><a href="https://mail.google.com/mail/?view=cm&fs=1&to=hoteltelagamas@gmail.com" target="_blank"><span class="icon icon-envelope"></span><span class="text">hoteltelagamas@gmail.com</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p>
                    Copyright &copy; Hotel Telaga Mas
                </p>
            </div>
        </div>
    </div>
</footer>