<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <title>Error 403 - Forbidden!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/error_page.css') }}">

  </head>

  <body>
    <div class="container">
      <img class="ops" src="{{ url_for('static', filename='img/error_page/403.svg') }}" alt="Forbidden" />
      <br />
      <h3>
        Akses Ditolak! <br />
        Anda tidak memiliki izin untuk mengakses halaman ini.
      </h3>
      <br />
      <a class="buton" href="{{ url_for('home') }}"
        >Kembali Kehalaman Home</a
      >
    </div>
  </body>
</html>
