<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password | Hotel Telaga Mas</title>
    <meta property="og:title" content="Login Hotel Telaga Mas" />
    <meta property="og:description" content="Hotel Telaga Mas " />
    <meta property="og:image" content="{{ url_for('static', filename = 'img/image-hotel/foto-depan-hotel.jpg') }}" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/style.css">
    <link rel="stylesheet" href="../../static/style/login.css">
    <link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>
</head>

<body>
    <div class="spinner-overlay hidden" id="loading-spinner">
        <dotlottie-player src="https://lottie.host/ecc98912-6550-4a1b-8622-df5acef885fd/xcW4L0NEca.json" background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></dotlottie-player>
    </div>
    <section class="container" data-aos="zoom-in" data-aos-duration="500" id="main-content">
        <header class="title">Reset Password</header>
        <form id="reset-password-form" class="form" method="POST">
            <div class="field">
                <div class="control">
                    <div class="wrap-input-9">
                        <input type="password" class="input" id="password" name="password" placeholder="Masukan Kata Sandi Baru" required>
                        <span class="focus-border">
                            <i></i>
                        </span>
                    </div>
                </div>
                <p class="help is-danger" id="password-error" style="display: none;">Kata sandi tidak cocok.</p>
            </div>
            <div class="field">
                <div class="control">
                    <div class="wrap-input-9">
                        <input type="password" class="input" id="confirm_password" name="confirm_password" placeholder="Konfirmasi Kata Sandi Baru" required>
                        <span class="focus-border">
                            <i></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <label class="checkbox">
                        <input type="checkbox" id="togglePassword"> Tampilkan Kata Sandi
                    </label>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <button type="submit" class="button is-primary">Reset Password</button>
                </div>
            </div>
        </form>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>

    <script>
        $(document).ready(function() {
            $('#togglePassword').on('change', function () {
                const type = $(this).is(':checked') ? 'text' : 'password';
                $('#password').attr('type', type);
                $('#confirm_password').attr('type', type);
            });

            $('#reset-password-form').on('submit', function(event) {
                event.preventDefault();
                var password = $('input[name="password"]').val();
                var confirmPassword = $('input[name="confirm_password"]').val();

                if (password !== confirmPassword) {
                    $('#password-error').show();
                    return;
                } else {
                    $('#password-error').hide();
                }

                $('#loading-spinner').removeClass('hidden');

                $.ajax({
                    type: 'POST',
                    url: '/reset_password/{{ token }}',
                    data: $(this).serialize(),
                    success: function(response) {
                        $('#loading-spinner').addClass('hidden');
                        if (response.success) {
                            Swal.fire({
                                icon: 'success',
                                title: 'Password berhasil direset!',
                                showConfirmButton: false,
                                timer: 1500
                            }).then(() => {
                                window.location.href = '/login';
                            });
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Error',
                                text: response.error || 'Token tidak valid atau kadaluarsa.'
                            });
                        }
                    },
                    error: function(response) {
                        $('#loading-spinner').addClass('hidden');
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: response.responseJSON.error || 'Terjadi kesalahan, silakan coba lagi.'
                        });
                    }
                });
            });
            AOS.init();
        });
    </script>
</body>

</html>
