<!DOCTYPE html>
<html lang="en">

<head>
    <title> Galeri | Telaga Mas</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% include 'user/home/head_import.html' %}
    <!-- AOS CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
</head>

<body>

    {% include 'user/gallery/header.html' %}

    <div class="hero-wrap" style="background-image: url('../../static/img/home/images/galeri.jpg');">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text d-flex align-itemd-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center d-flex align-items-end justify-content-center">
          	<div class="text">
	            <p class="breadcrumbs mb-2"><span class="mr-2"><a href="{{ url_for('user_index') }}">Beranda</a></span> <span>Galeri</span></p>
	            <h1 class="mb-4 bread">Galeri</h1>
            </div>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section">
        <div class="container">
            <div class="container text-center my-5">
                <div class="row mt-4">
                    {% for item in gallery %}
                    <div class="col-md-4 mb-4" data-aos="zoom-in-up" data-aos-duration="500">
                        <img src="{{ item['gallery_picture_url'] }}" class="img-fluid gallery-img"
                            alt="Gallery Image {{ loop . index }}">
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    {% include 'user/home/footer.html' %}

    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
            <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4"
                stroke="#eeeeee" />
            <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4"
                stroke-miterlimit="10" stroke="#F96D00" />
        </svg></div>

    {% include 'user/home/script_import.html' %}
    <!-- AOS JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>
